h1, p {
  width: 75%;
}

#bicycle-result {
  display: none;
}

#result {
  display: none;
}

.orange-takeover {
  background-color: orange;
  color: orangered;
}

.not-orange {
  display: none;
  color: orangered;
}