h1, p {
  width: 75%;
}

#bicycle-result, #result, #age-discrepancy{
  display: none;
}

.orange-takeover {
  background-color: orange;
  color: orangered;
}

.not-orange {
  display: none;
}

.img-width {
  max-width: 50%
}

.spacer {
  margin-bottom: 20px;
}

.btn-primary {
  color: orange;
  background-color: orangered;
  border-color: darkorange;
}

.btn-primary:hover {
  color: #fff;
  background-color: orange;
  border-color: darkorange;
}

.orange-takeover input[type=text] {
  background-color: orangered;
  color: white;
}