h1, p {
  width: 75%;
}

#bicycle-result, #result, #age-discrepancy{
  display: none;
}

.orange-takeover {
  background-color: orange;
  color: orangered;
}

.not-orange {
  display: none;
}

.img-width {
  max-width: 50%
}

.spacer {
  margin-bottom: 20px;
}

.btn-primary {
  color: #fff;
  background-color: orangered;
  border-color: darkorange;
}

.btn-primary:hover {
  color: #fff;
  background-color: orange;
  border-color: darkorange;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: orangered;
  border-color: darkorange;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: orange;
  border-color: darkorange;
}

.orange-takeover input[type=text] {
  background-color: orangered;
  color: white;
}